In [15]:
import numpy as np
import pandas as pd
import os

In [2]:
from plotly import offline as poff
from plotly import graph_objs as go

In [4]:
poff.init_notebook_mode(True)

In [3]:
# setting
pd.set_option('display.max_colwidth', -1)
#pd.set_option('display.max_tab', -1)

In [7]:
?go.Layout

In [13]:
data = [go.Bar(
            x = ['a','b','c'],
            y = [1, 2, 3],
            width=0.5)]
layout = go.Layout(title='This is a demo')
fig = go.Figure(data=data, layout=layout)
poff.iplot(fig)

## 概览

In [4]:
print('\n'. join(os.listdir('../rawdata')))

application_test.csv
application_train.csv
bureau.csv
bureau_balance.csv
credit_card_balance.csv
HomeCredit_columns_description.csv
installments_payments.csv
POS_CASH_balance.csv
previous_application.csv
sample_submission.csv

+ application_test.csv   每笔贷款申请时的数据，为测试集
+ application_train.csv   同上，为训练集
+ bureau.csv   从信贷局中返回HomeCredit用户在其他贷款平台上的信用审核情况
+ bureau_balance.csv   信贷局上用户的月度余额信息
+ credit_card_balance.csv  HomeCredit用户申请时使用的信用卡月度余额
+ HomeCredit_columns_description.csv    文件每列说明
+ installments_payments.csv    HomeCredit上已有信用支付的偿还历史记录
+ POS_CASH_balance.csv    HomeCredit用户现金贷月度余额
+ previous_application.csv    HomeCredit贷款用户之前的申请记录
+ sample_submission.csv    模型结果提交示例

### application_test

In [16]:
application_train = pd.read_csv('../rawdata/application_train.csv')

In [3]:
application_train.shape

(307511, 122)

In [7]:
application_test = pd.read_csv('../rawdata/application_test.csv')

In [8]:
application_test.shape

(48744, 121)

In [11]:
application_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [12]:
from rosaceae.utils import summary

In [14]:
application_summary = summary(application_train.drop(labels=['SK_ID_CURR', 'TARGET'], axis=1))

In [15]:
application_summary.head()

,Field,Type,Recs,Miss,Min,Q25,Q50,Avg,Q75,Max,StDv,Uniq,OutLo,OutHi
0,NAME_CONTRACT_TYPE,object,307511,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
1,CODE_GENDER,object,307511,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
2,FLAG_OWN_CAR,object,307511,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
3,FLAG_OWN_REALTY,object,307511,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
4,CNT_CHILDREN,int64,307511,0,0.0,0.0,0.0,0.4171,1.0,19.0,0.7221,15,0,4272

In [16]:
application_summary.to_csv('application_summary.csv', index=False)

In [4]:
application_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [8]:
application_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
grouped = application_train[['TARGET', 'CODE_GENDER', 'SK_ID_CURR']].groupby(by=['CODE_GENDER', 'TARGET'])

In [49]:
application_train['CODE_GENDER'].value_counts()

F      202448
M      105059
XNA         4
Name: CODE_GENDER, dtype: int64

In [44]:
a = grouped['SK_ID_CURR'].agg('count')

In [50]:
a

CODE_GENDER  TARGET
F            0         188278
             1          14170
M            0          94404
             1          10655
XNA          0              4
Name: SK_ID_CURR, dtype: int64

In [47]:
a.values.sum()

307511

In [54]:
len(a.index)

5

In [55]:
for i in range(5):
    print(a.index[i])

('F', 0)
('F', 1)
('M', 0)
('M', 1)
('XNA', 0)

In [38]:
application_train.shape

(307511, 122)

In [36]:
grouped.ngroups

5

In [64]:
a['F'].get_values

<bound method Series.get_values of TARGET
0    188278
1     14170
Name: SK_ID_CURR, dtype: int64>

In [58]:
set(a.index.get_level_values(1))

{0, 1}

In [70]:
a['F']

TARGET
0    188278
1     14170
Name: SK_ID_CURR, dtype: int64

In [18]:
?application_train.groupby

In [74]:
a.index.get_level_values(1)

Int64Index([0, 1, 0, 1, 0], dtype='int64', name='TARGET')

In [87]:
[[a[i].get(j, 0) for i in sorted(set(a.index.get_level_values(0)))] for j in sorted(set(a.index.get_level_values(1)))]

[[188278, 94404, 4], [14170, 10655, 0]]

In [80]:
sorted(set(a.index.get_level_values(0)))

['F', 'M', 'XNA']

In [88]:
[[(i, j) for i in sorted(set(a.index.get_level_values(0)))] for j in sorted(set(a.index.get_level_values(1)))]

[[('F', 0), ('M', 0), ('XNA', 0)], [('F', 1), ('M', 1), ('XNA', 1)]]

In [79]:
a

CODE_GENDER  TARGET
F            0         188278
             1          14170
M            0          94404
             1          10655
XNA          0              4
Name: SK_ID_CURR, dtype: int64

In [92]:
for c in application_train.columns:
    if c == 'SK_ID_CURR' or c == 'TARGET':
        continue
    print(c, '-'*20)
    if application_train[c].dtype == 'object':
        grouped = application_train[['TARGET', c, 'SK_ID_CURR']].groupby(by=[c, 'TARGET'])
        grouped_counts = grouped['SK_ID_CURR'].agg('count')
        y_values = [[grouped_counts[i].get(j, 0) for i in sorted(set(grouped_counts.index.get_level_values(0)))] 
                    for j in sorted(set(grouped_counts.index.get_level_values(1)))]
        data = []
        x_values = sorted(set(grouped_counts.index.get_level_values(0)))
        for v in y_values:
            print(v)
            trace = go.Bar(
                x=x_values,
                y=v,
                text=v,
                textposition = 'auto',
                marker=dict(
                    color='rgb(158,202,225)',
                    line=dict(
                        color='rgb(8,48,107)',
                        width=1.5),
                ),
                opacity=0.6
            )
            data.append(trace)
    poff.iplot(data)
    break

NAME_CONTRACT_TYPE --------------------
[255011, 27675]
[23221, 1604]