In [4]:
import pandas as pd
import os

## 概览

In [4]:
print('\n'. join(os.listdir('../rawdata')))

application_test.csv
application_train.csv
bureau.csv
bureau_balance.csv
credit_card_balance.csv
HomeCredit_columns_description.csv
installments_payments.csv
POS_CASH_balance.csv
previous_application.csv
sample_submission.csv

+ application_test.csv   每笔贷款申请时的数据，为测试集
+ application_train.csv   同上，为训练集
+ bureau.csv   从信贷局中返回HomeCredit用户在其他贷款平台上的信用审核情况
+ bureau_balance.csv   信贷局上用户的月度余额信息
+ credit_card_balance.csv  HomeCredit用户申请时使用的信用卡月度余额
+ HomeCredit_columns_description.csv    文件每列说明
+ installments_payments.csv    HomeCredit上已有信用支付的偿还历史记录
+ POS_CASH_balance.csv    HomeCredit用户现金贷月度余额
+ previous_application.csv    HomeCredit贷款用户之前的申请记录
+ sample_submission.csv    模型结果提交示例

### application_test

In [5]:
application_train = pd.read_csv('../rawdata/application_train.csv')

In [6]:
application_train.shape

(307511, 122)

In [7]:
application_test = pd.read_csv('../rawdata/application_test.csv')

In [8]:
application_test.shape

(48744, 121)

In [11]:
application_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [12]:
from rosaceae.utils import summary

In [14]:
application_summary = summary(application_train.drop(labels=['SK_ID_CURR', 'TARGET'], axis=1))

In [15]:
application_summary.head()

,Field,Type,Recs,Miss,Min,Q25,Q50,Avg,Q75,Max,StDv,Uniq,OutLo,OutHi
0,NAME_CONTRACT_TYPE,object,307511,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
1,CODE_GENDER,object,307511,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
2,FLAG_OWN_CAR,object,307511,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
3,FLAG_OWN_REALTY,object,307511,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
4,CNT_CHILDREN,int64,307511,0,0.0,0.0,0.0,0.4171,1.0,19.0,0.7221,15,0,4272

In [16]:
application_summary.to_csv('application_summary.csv', index=False)